@model PCConfigurator.Models.Protsessor

@{
    ViewData["Title"] = "Удалить процессор";
}

<h1>Удалить процессор</h1>
<hr />

<div class="alert alert-danger">
    <h4>Внимание!</h4>
    <p>Вы уверены, что хотите удалить этот процессор?</p>
    <p>Это действие нельзя отменить.</p>
</div>

<div class="card">
    <div class="card-header">
        Информация о процессоре
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Модель:</dt>
            <dd class="col-sm-9">
                <strong>@Html.DisplayFor(model => model.Model)</strong>
            </dd>

            <dt class="col-sm-3">Сокет:</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Soket)
            </dd>

            <dt class="col-sm-3">Тактовая частота:</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TaktovayaChastotaGz) ГГц
            </dd>

            <dt class="col-sm-3">Количество ядер:</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.KolichestvoYader)
            </dd>

            <dt class="col-sm-3">Мощность:</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Moshchnost) Вт
            </dd>

            <dt class="col-sm-3">Цена:</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Tsena) ₽
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Model" />
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash"></i> Удалить навсегда
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-x-circle"></i> Отмена
        </a>
    </form>
</div>